#photo{
	width: 1200px;
	height: 1000px;
	/* background: gray; */
	margin: 20px auto 20px;
}
#photo .title{
	height: 50px;
	line-height: 50px;
	width: 100%;
	text-align: center;
	background-color: rgba(224, 255, 255, 0.5);/* #e0ffff; */
	color: #00008b;
	margin: auto;
}
#photo .content{
	width: 1200px;
	height: 940px;
	/* background: red; */
	margin: 0 auto;
}
#photo .content .bigView{
	width: 920px;
	height: 900px;
	/* background: blue; */
	float: left;
	overflow: hidden;
}
#photo .content .bigView img{
	width: 900px;
	height: 900px;
	object-fit: cover;
}
#photo .content .smallView{
	width: 150px;
	height: 900px;
	/* background: purple; */
	float: right;
	overflow-x: hidden;
	/* overflow-y: scroll; */
}
#photo .content .smallView img{
	width: 100px;
	height: 100px;
	margin-bottom: 12px;
	border: 2px solid white;
	object-fit: cover; 
}
#photo .content .bigView li:target {
    display: block;
}

#photo .content .smallView li:hover {
    opacity: 0.7;
    cursor: pointer;
}